.desktop{
    display: none;
    &__heading{

    }
    &__link{
        display: none;
    }
    &__text{
        
    }
    &__img{

    }
}

@media (min-width: 1120px){
    .desktop{
        display: flex;
        width: 1120px;
        align-items: center;
        &__heading{
            padding-top: 15px;
            margin-right: auto;
            margin-left: 20px;
            position: relative;
            &::before{
                content: "";
                background: $descriptionHeadingBefore;
                width: 4px;
                height: 40px;
                display: inline-block;
                position: relative;
                left: -18px;
                top: 10px;
            }
        }
        &__link{
            
        }
        &__text{
            margin-right: 10px;
            color: $desktopTextMediaColor;
        }
        &__img{

        }
    }
}

@media (min-width: 1440px){
    .desktop{
        &__link{
            display: flex;
            align-items: center;
            margin-right: 25px;
            text-decoration: none;
        }
        &__heading{
            &::before{
                content: "";
                background: $descriptionHeadingBefore;
                width: 4px;
                height: 40px;
                display: inline-block;
            }
        }
    }
}